@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #070C0D;
  --black-2: #2C2B40;
  --green: #03A64A;
  --red: #F26241;
  --primary-color: #4D49BF;
  --secondary-color: #1A1840;
  --tertiary-color: #8B89CA;
  --fourth-color: #38358C;
  --auxiliar-color: #F2B544;
}
